/* Add here all your css styles (customizations) */

/* /////////////////////
* NOTE: HEADER START  //
* & Carousel Canvas   //
 *********************/
#header {
  position: absolute;
  width: 100%;
  display: block;
}

#header-img {
  width: 50px;
  margin: 25px;
}

.nav-link {
  margin: 2px;
  font-size: 12px;
  font-weight: 500 !important;
  color: #ffffff;
  letter-spacing: 1.5px;
  float: right;
}

.nav-link:hover {
  color: #e6ae49 !important;
  transition: all 0.25s !important;
  cursor: pointer;
}

.tp-bullet {
  border-radius: 25px;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.first-header {
  text-shadow: 2px 2px #323232;
}

.first-text {
  text-shadow: 5px 5px #323232;
}

.icon-block {
  border-top: 1px solid gray;
}

/* ////////////////////////////
* NOTE: SOCIAL START & FAQ   //
* & ICONS                  //
* & Links styling        //
 *********************/
.social {
  background-color: #f7f7f7;
}

i {color: #323232;}

.link {
  color: #323232;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: -15px;
}

.link:hover {
  color: #e6ae49;
  text-decoration: none;
  transition: all 0.25s;
}

#faq-text {
  /* border: 1px solid gray; */
  color: #555;
}

.card-header:hover {
  cursor: pointer;
}

.reason-block-cont {
  display: flex;
  margin: 20px;
}

#reason-img {
  width: 71px;
  height: 71px;
  margin-right: 43px;
  text-align: center;
  display: inline-block;
}

/* //////////////////////
* NOTE: FOOTER START   //
 **********************/
footer {
  background-color: #1B1B1F;
}

#footer-hover:hover  {
  color: #e6ae49;
}

highlight {
  color: #e6ae49;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 2px 2px #323232;
}

.u-go-to-v2 { background-color: white !important; }
.u-go-to-v2:hover { background-color: #e6ae49 !important; }

::selection { background: #e6ae49; /* WebKit/Blink Browsers */}
::-moz-selection { background: #e6ae49; /* Gecko Browsers */}

/* ///////////////////////////
* NOTE: ANIMATIONS START   //
 **************************/
#img-float {
	transform: translatey(10px);
	animation: float 5s ease-in-out infinite !important;
}

@keyframes float {
	0% {
		transform: translatey(10px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(10px);
	}
}

#img-rotate {
    animation: rotation 5s linear infinite !important;
  }

  @keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
