/* Add here all your css styles (customizations) */
/* ////////////////////////////
* NOTE:                      //
* & ICONS                  //
* & Links styling        //
 *********************/
i {color: #323232;}

.link {
  color: #323232;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: -15px;
}

.link:hover {
  color: #e6ae49;
  text-decoration: none;
  transition: all 0.25s;
}
/* //////////////////////
* NOTE: FOOTER START   //
 **********************/
footer {
  background-color: #1B1B1F;
}

#footer-hover:hover  {
  color: #e6ae49;
}

.fab, .fa {
  margin: 5px;
}
.fab:hover, .fa:hover {
  color: #e6ae49;
}

highlight {
  color: #e6ae49;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 2px 2px #323232;
}

::selection { background: #e6ae49; /* WebKit/Blink Browsers */}
::-moz-selection { background: #e6ae49; /* Gecko Browsers */}

/* ///////////////////////////
* NOTE: ANIMATIONS START   //
 **************************/
#grow, #grow-click { transition: all .2s ease-in-out; }
#grow:hover { transform: scale(1.1); cursor: default;}
#grow-click:hover { transform: scale(1.05);}
