/* Add here all your css styles (customizations) */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500');

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px !important;
  cursor: default;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  cursor: default;
}

/* /////////////////////
* NOTE: HEADER START  //
* & Carousel Canvas   //
 *********************/
#header {
  position: absolute;
  width: 100%;
  display: block;
}

#header-img {
  width: 50px;
  margin: 25px;
}

.nav-link {
  margin: 2px;
  font-size: 12px;
  font-weight: 500 !important;
  color: #ffffff;
  letter-spacing: 1.5px;
  float: right;
}

.nav-link:hover {
  color: #e6ae49 !important;
  transition: all 0.25s !important;
  cursor: pointer;
}

.tp-bullet {
  border-radius: 25px;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.first-header {
  text-shadow: 2px 2px #323232;
}

.first-text {
  text-shadow: 5px 5px #323232;
}

.icon-block {
  border-top: 1px solid gray;
}

/* ////////////////////////////
* NOTE: SOCIAL START & FAQ   //
* & ICONS                  //
* & Links styling        //
 *********************/
.faq {
  background-color: #1c1133;
  color: #ededee;
}

.card {
  color: #ededee;
  background-color: #2f283a;
  border: none;
}

.card-header {
  font-weight: 800;
  background-color: #2f283a;
  border: none;
}

i {color: #323232;}

#faq-text {
  /* border: 1px solid gray; */
  color: #555;
}

.card-header:hover {
  cursor: pointer;
}

.reason-block-cont {
  display: flex;
  margin: 20px;
}

#reason-img {
  width: 71px;
  height: 71px;
  margin-right: 43px;
  text-align: center;
  display: inline-block;
}

/* //////////////////////
* NOTE: FOOTER START   //
 **********************/
footer {
  background-color: #131133;
  border-top: 2px solid orange;
}

#footer-hover:hover  {
  color: #e6ae49;
}

.fab, .fa {
  margin: 5px;
  color: #cccccc;
}
.fab:hover, .fa:hover {
  color: #e6ae49;
}

highlight {
  color: #e6ae49;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 1px 1px #443f54;
}

.u-go-to-v2 { background-color: white !important; }
.u-go-to-v2:hover { background-color: #e6ae49 !important; }

::selection { background: #e6ae49; /* WebKit/Blink Browsers */}
::-moz-selection { background: #e6ae49; /* Gecko Browsers */}

/* ///////////////////////////
* NOTE: ANIMATIONS START   //
 **************************/
#grow, #grow-click { transition: all .2s ease-in-out; }
#grow:hover { transform: scale(1.1); cursor: default;}
#grow-click:hover { transform: scale(1.1);}

#img-float {
	transform: translatey(10px);
	animation: float 5s ease-in-out infinite !important;
}

@keyframes float {
	0% {
		transform: translatey(10px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(10px);
	}
}

#img-rotate {
    animation: rotation 5s linear infinite !important;
  }

  @keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
